body {
  background: linear-gradient(180deg, #FDF8F5 0%, #FAEDEB 100%);
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  color: #4F4846; /* טקסט כהה */
}

main {
  grid-area: main;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin: 100px auto;
  width: 85%;
  max-width: 1200px;
}

.app-container {
  display: grid;
  grid-template-columns: 200px auto; /* 200px ל-sidebar והשאר ל-main */
  grid-template-rows: auto; /* גובה דינמי */
  grid-template-areas: 
    "sidebar main"; /* חלוקת האזורים */
  height: 100vh; /* גובה מלא של הדף */
}
