
  .calendar-page {
    padding: 20px 30px;
  }

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-title {
    font-weight: bold;
    color: #4F4846;
    margin-bottom: 20px;
  }


.fc {
  background-color: #e9d7cd;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 20px;
  overflow: hidden;
}

.fc-view-harness {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc-daygrid-day-number {
  font-weight: 500;
  color: #4F4846;
}

.fc-event {
  border: none;
  color: #4F4846;
  font-size: 13px;
  border-radius: 6px;
  padding: 2px 6px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; 
  transition: all 0.2s ease;
}

.fc-event:hover {
  filter: brightness(1.05);
  transform: scale(1.01);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-col-header-cell-cushion {
    color: #1E4E40 !important;
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 14px;
  }
  
  .fc-button {
    background: #266150 !important;
    color: white !important;
    border: none;
    font-family: 'Poppins';
    border-radius: 8px;
  }
  
  .fc-button:hover {
    background: #1E4E40 !important;
    filter: brightness(0.9);
    transform: scale(1.01);
  }
  
  .fc-button:disabled {
    background-color: #1E4E40 !important;
    color: white !important;
  }

  .fc-day-today {
    background-color: #FDF8F5 !important; 
    border: 2px dashed #E8CEBF;
  }
