h2 {
    font-family: 'Poppins', sans-serif;
    color: #4F4846;
}

.rbc-calendar {
    background-color: #FDF8F5;
    color: #4F4846;
    border-radius: 8px;
}

.rbc-toolbar {
    background-color: #E8CEBF;
    color: #4F4846;
}

.rbc-event {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
}

.rbc-event:hover {
    background-color: #388E3C;
}

.rbc-selected {
    background-color: #D3A590;
}