.projects-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .projects-table th,
  .projects-table td {
    text-align: left;
    padding: 10px;
  }
  
  .projects-table th {
    background: #f9f9f9;
  }
  
  .projects-table tr:nth-child(even) {
    background: #f1f1f1;
  }